<li class="list-group-item" id="<%= dom_id(message) %>">
  <% if message.content.present? %>
    <%= message.content %>
  <% else %>
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  <% end %>
</li>
